/* below css styles for candidate form only */
div #pictureBox {
  width: 160px;
  height: 160px;
  padding: 10px;
  border: 5px solid gray;
  margin: 1em;
  float: right;
}

input[class=inputLine] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 20em;
}

div #candidateFormTitle {
	float: left;
	height: 10em;
	padding-top: 5em;
}

div #positionInput {
	padding-top: 2em;
}

div #candidateFormHeader {
	font-weight: bold;
}

form[id=candidateForm] {
	width:80%;
	height:100%;
	margin-left: 10em;
}

div #candidateDetailsTable {
	width:80%;
	/*height:80%;*/
	outline-style:solid;
}

table tr td {
	height: 2em;
	border: 1px solid black;
}

input {
	outline: none;
	border: none;
}
/* end for candidate form css */