<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^\/?$ https://www.sagaos.com/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
